/* General */

body {
    background-color: white;
    overflow: hidden;
  }
  
  h1 {
    font-family: "Calfine", serif;
    font-weight: bold;
    color: #2e6abc;
    font-size: 5rem;
  }
  
  h2 {
    font-family: "Bogart", serif;
    color: black;
    font-size: 2rem;
  }
  
  .main {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  
  /* Circles */
  
  .lgcircle1,
  .mdcircle1,
  .smcircle1 {
    position: absolute;
    z-index: -1;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(4, 29, 52, 0.7) 0%,
      rgba(4, 29, 52, 0) 100%
    );
  }
  
  .lgcircle2,
  .mdcircle2,
  .smcircle2 {
    position: absolute;
    z-index: -1;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(4, 29, 52, 0.5) 0%,
      rgba(4, 29, 52, 0) 100%
    );
  }

  