/* General */

body {
  background-color: white;
  overflow: hidden;
}

h1 {
  font-family: "Calfine", serif;
  font-weight: bold;
  color: #2e6abc;
  font-size: 5rem;
}

h2 {
  font-family: "Bogart", serif;
  color: black;
  font-size: 2rem;
}

.main {
  margin: auto;
  width: 100%;
  text-align: center;
}

/* Circles */

.lgcircle1,
.mdcircle1,
.smcircle1 {
  position: absolute;
  z-index: -1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(4, 29, 52, 0.7) 0%,
    rgba(4, 29, 52, 0) 100%
  );
}

.lgcircle2,
.mdcircle2,
.smcircle2 {
  position: absolute;
  z-index: -1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(4, 29, 52, 0.5) 0%,
    rgba(4, 29, 52, 0) 100%
  );
}

/* Media-extralarge */

@media screen and (min-width: 1200px) {
  .main {
    padding: 5% 5%;
  }

  .lgcircle1,
  .lgcircle2 {
    width: 800px;
    height: 800px;
  }

  .mdcircle1,
  .mdcircle2 {
    width: 400px;
    height: 400px;
  }

  .smcircle1,
  .smcircle2 {
    width: 300px;
    height: 300px;
  }

  .lgcircle1 {
    top: 1%;
    left: 1%;
    animation: floatlg1 5s ease-in-out infinite;
  }

  .lgcircle2 {
    right: 1%;
    bottom: 1%;
    animation: floatlg2 4s ease-in-out infinite;
  }

  .mdcircle1 {
    right: 30%;
    top: 5%;
    animation: floatmd1 5.5s ease-in-out infinite;
  }

  .mdcircle2 {
    left: 30%;
    bottom: 5%;
    animation: floatmd2 4s ease-in-out infinite;
  }

  .smcircle1 {
    top: 5%;
    left: 32%;
    animation: floatsm1 4.5s ease-in-out infinite;
  }

  .smcircle2 {
    top: 70%;
    left: 10%;
    animation: floatsm2 4s ease-in-out infinite;
  }

  /* Circle float animations */

  @keyframes floatlg1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-70px);
    }
  }

  @keyframes floatlg2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-50px);
    }
  }

  @keyframes floatmd1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-70px);
    }
  }

  @keyframes floatmd2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-60px);
    }
  }

  @keyframes floatsm1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-50px);
    }
  }

  @keyframes floatsm2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-70px);
    }
  }
}

/* Image */

/* .image {
  background-color: transparent;
  margin: auto;
  border-radius: 50%;
  width: 25%;
  height: auto;
} */

.img {
  max-width: 30%;
  height: auto;
}

.heading {
  display: inline-block;
}

/* Dot animation */

.dot1,
.dot2,
.dot3 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #2e6abc;
  position: relative;
  display: inline-block;
  animation: fade;
  animation-iteration-count: infinite;
}

.dot1 {
  animation-duration: 0.8s;
}

.dot2 {
  animation-duration: 0.8s;
  animation-delay: 0.9s;
}

.dot3 {
  animation-duration: 0.8s;
  animation-delay: 1s;
}

@keyframes fade {
  0% {
    background-color: #2e6abc;
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: #2e6abc;
  }
}

/* Media-large */

@media screen and (min-width: 992px) {
  .main {
    padding: 5% 5%;
  }

  .lgcircle1,
  .lgcircle2 {
    width: 400px;
    height: 400px;
  }

  .mdcircle1,
  .mdcircle2 {
    width: 300px;
    height: 300px;
  }

  .smcircle1,
  .smcircle2 {
    width: 200px;
    height: 200px;
  }

  .lgcircle1 {
    top: 1%;
    left: 1%;
    animation: floatlg1 6s ease-in-out infinite;
  }

  .lgcircle2 {
    right: 1%;
    bottom: 1%;
    animation: floatlg2 4s ease-in-out infinite;
  }

  .mdcircle1 {
    right: 30%;
    top: 5%;
    animation: floatmd1 6s ease-in-out infinite;
  }

  .mdcircle2 {
    left: 30%;
    bottom: 5%;
    animation: floatmd2 4s ease-in-out infinite;
  }

  .smcircle1 {
    top: 5%;
    left: 32%;
    animation: floatsm1 6s ease-in-out infinite;
  }

  .smcircle2 {
    top: 70%;
    left: 10%;
    animation: floatsm2 3s ease-in-out infinite;
  }

  /* Circle float animations */

  @keyframes floatlg1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-50px);
    }
  }

  @keyframes floatlg2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
  }

  @keyframes floatmd1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-50px);
    }
  }

  @keyframes floatmd2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
  }

  @keyframes floatsm1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-50px);
    }
  }

  @keyframes floatsm2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
  }
}

/* Image */

/* .image {
  background-color: transparent;
  margin: auto;
  border-radius: 50%;
  width: 25%;
  height: auto;
} */

.img {
  max-width: 30%;
  height: auto;
}

.heading {
  display: inline-block;
}

/* Dot animation */

.dot1,
.dot2,
.dot3 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #2e6abc;
  position: relative;
  display: inline-block;
  animation: fade;
  animation-iteration-count: infinite;
}

.dot1 {
  animation-duration: 0.8s;
}

.dot2 {
  animation-duration: 0.8s;
  animation-delay: 0.9s;
}

.dot3 {
  animation-duration: 0.8s;
  animation-delay: 1s;
}

@keyframes fade {
  0% {
    background-color: #2e6abc;
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: #2e6abc;
  }
}

/* Media-medium */

@media screen and (min-width: 768px) {
  /* H1 */

  h1 {
    font-size: 4rem;
  }

  /* H2 */

  h2 {
    font-size: 2rem;
  }

  /* Circles */

  .lgcircle1,
  .lgcircle2 {
    width: 400px;
    height: 400px;
  }

  .mdcircle1,
  .mdcircle2 {
    width: 200px;
    height: 200px;
  }

  .smcircle1,
  .smcircle2 {
    width: 100px;
    height: 100px;
  }

  .lgcircle1 {
    top: 1%;
    left: 1%;
    animation: floatlg1 6s ease-in-out infinite;
  }

  .lgcircle2 {
    right: 1%;
    bottom: 1%;
    animation: floatlg2 4s ease-in-out infinite;
  }

  .mdcircle1 {
    right: 30%;
    top: 5%;
    animation: floatmd1 6s ease-in-out infinite;
  }

  .mdcircle2 {
    left: 30%;
    bottom: 5%;
    animation: floatmd2 4s ease-in-out infinite;
  }

  .smcircle1 {
    top: 5%;
    left: 32%;
    animation: floatsm1 6s ease-in-out infinite;
  }

  .smcircle2 {
    top: 70%;
    left: 10%;
    animation: floatsm2 3s ease-in-out infinite;
  }

  /* Circle float animations */

  @keyframes floatlg1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-40px);
    }
  }

  @keyframes floatlg2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes floatmd1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-40px);
    }
  }

  @keyframes floatmd2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes floatsm1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-40px);
    }
  }

  @keyframes floatsm2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  /* Image */

  /* .image {
    background-color: transparent;
    margin: auto;
    border-radius: 50%;
    width: 25%;
    height: auto;
    padding-top: 25px;
  } */

  .img {
    max-width: 40%;
    height: auto;
  }

  .heading {
    display: inline-block;
  }

  /* Dot animation */

  .dot1,
  .dot2,
  .dot3 {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #2e6abc;
    position: relative;
    display: inline-block;
    animation: fade;
    animation-iteration-count: infinite;
  }

  .dot1 {
    animation-duration: 0.8s;
  }

  .dot2 {
    animation-duration: 0.8s;
    animation-delay: 0.9s;
  }

  .dot3 {
    animation-duration: 0.8s;
    animation-delay: 1s;
  }

  @keyframes fade {
    0% {
      background-color: #2e6abc;
    }

    50% {
      background-color: transparent;
    }

    100% {
      background-color: #2e6abc;
    }
  }
}

/* Media-small */

@media screen and (min-width: 576px) {
  /* H1 */

  h1 {
    font-size: 3rem;
  }

  /* H2 */

  h2 {
    font-size: 1.5rem;
  }

  /* Circles */

  .lgcircle1,
  .lgcircle2 {
    width: 250px;
    height: 250px;
  }

  .mdcircle1,
  .mdcircle2 {
    width: 125px;
    height: 125px;
  }

  .smcircle1,
  .smcircle2 {
    width: 75px;
    height: 75px;
  }

  .lgcircle1 {
    top: 1%;
    left: 1%;
    animation: floatlg1 6s ease-in-out infinite;
  }

  .lgcircle2 {
    right: 1%;
    bottom: 1%;
    animation: floatlg2 4s ease-in-out infinite;
  }

  .mdcircle1 {
    right: 30%;
    top: 5%;
    animation: floatmd1 6s ease-in-out infinite;
  }

  .mdcircle2 {
    left: 30%;
    bottom: 5%;
    animation: floatmd2 4s ease-in-out infinite;
  }

  .smcircle1 {
    top: 5%;
    left: 32%;
    animation: floatsm1 6s ease-in-out infinite;
  }

  .smcircle2 {
    top: 70%;
    left: 10%;
    animation: floatsm2 3s ease-in-out infinite;
  }

  /* Circle float animations */

  @keyframes floatlg1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
  }

  @keyframes floatlg2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-150px);
    }
  }

  @keyframes floatmd1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
  }

  @keyframes floatmd2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  @keyframes floatsm1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
  }

  @keyframes floatsm2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  /* Image */

  /* .image {
    background-color: transparent;
    margin: auto;
    border-radius: 50%;
    width: 25%;
    height: auto;
    padding-top: 25px;
  } */

  .img {
    max-width: 50%;
    height: auto;
  }

  .heading {
    display: inline-block;
    margin: 20px auto;
  }

  /* Dot animation */

  .dot1,
  .dot2,
  .dot3 {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #2e6abc;
    position: relative;
    display: inline-block;
    animation: fade;
    animation-iteration-count: infinite;
  }

  .dot1 {
    animation-duration: 0.8s;
  }

  .dot2 {
    animation-duration: 0.8s;
    animation-delay: 0.9s;
  }

  .dot3 {
    animation-duration: 0.8s;
    animation-delay: 1s;
  }

  @keyframes fade {
    0% {
      background-color: #2e6abc;
    }

    50% {
      background-color: transparent;
    }

    100% {
      background-color: #2e6abc;
    }
  }
}
