@import "mobile.css" screen and (max-width: 767.98px);

@import "tablet.css" screen and (min-width: 768px);

@import "laptop.css" screen and (min-width: 992px);

@import "desktop.css" screen and (min-width: 1200px);

/* General */

body {
  background-color: white;
  overflow: hidden;
}

h1 {
  font-family: "Calfine", serif;
  font-weight: bold;
  color: #2e6abc;
}

h2 {
  font-family: "Bogart", serif;
  color: black;
}

.main {
  margin: auto;
  max-width: 100%;
  text-align: center;
}

/* Circles */

.lgcircle1,
.mdcircle1,
.smcircle1 {
  position: absolute;
  z-index: -1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(4, 29, 52, 0.7) 0%,
    rgba(4, 29, 52, 0) 100%
  );
}

.lgcircle2,
.mdcircle2,
.smcircle2 {
  position: absolute;
  z-index: -1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(4, 29, 52, 0.5) 0%,
    rgba(4, 29, 52, 0) 100%
  );
}
