body {
  background-color: #ffffff;
  overflow: hidden;
}

h1 {
    font-size: 4rem;
  }

  /* H2 */

  h2 {
    font-size: 2rem;
  }

  /* Circles */

  .lgcircle1,
  .lgcircle2 {
    width: 400px;
    height: 400px;
  }

  .mdcircle1,
  .mdcircle2 {
    width: 300px;
    height: 300px;
  }

  .smcircle1,
  .smcircle2 {
    width: 150px;
    height: 150px;
  }

  .lgcircle1 {
    top: 1%;
    left: 1%;
    animation: floatlg1 6s ease-in-out infinite;
  }

  .lgcircle2 {
    right: 1%;
    bottom: 1%;
    animation: floatlg2 4s ease-in-out infinite;
  }

  .mdcircle1 {
    bottom: 1%;
    left: 1%;
    animation: floatmd1 6s ease-in-out infinite;
  }

  .mdcircle2 {
    top: 10%;
    right: 5%;
    animation: floatmd2 4s ease-in-out infinite;
  }

  .smcircle1 {
    top: 5%;
    left: 45%;
    animation: floatsm1 6s ease-in-out infinite;
  }

  .smcircle2 {
    top: 50%;
    left: 25%;
    animation: floatsm2 3s ease-in-out infinite;
  }

  /* Circle float animations */

  @keyframes floatlg1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-60px);
    }
  }

  @keyframes floatlg2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-29px);
    }
  }

  @keyframes floatmd1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-45px);
    }
  }

  @keyframes floatmd2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-39px);
    }
  }

  @keyframes floatsm1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-40px);
    }
  }

  @keyframes floatsm2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  /* Image */

  .img {
    margin-top: 200px;
    max-width: 40%;
  }

  .heading {
    display: inline-block;
    margin: 30px auto 10px;
  }

  .name {
    display: inline-block;
  }

  /* Dot animation */

  .dot1,
  .dot2,
  .dot3 {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #2e6abc;
    position: relative;
    display: inline-block;
    animation: fade;
    animation-iteration-count: infinite;
  }

  .dot1 {
    animation-duration: 0.8s;
  }

  .dot2 {
    animation-duration: 0.8s;
    animation-delay: 0.9s;
  }

  .dot3 {
    animation-duration: 0.8s;
    animation-delay: 1s;
  }

  @keyframes fade {
    0% {
      background-color: #2e6abc;
    }

    50% {
      background-color: transparent;
    }

    100% {
      background-color: #2e6abc;
    }
  }